<header>
  <section class="row head-brk navbar-fixed">
      <nav class="col s12">
          <!--<ul id="dropdown1" class="dropdown-content">
              <li><a href="#!">It has survived not only five centuries</a></li>
              <li><a href="#!">It has survived not only five centuries</a></li>
              <li><a href="#!">It has survived not only five centuries</a></li>
          </ul>-->
          <section class="nav-wrapper"> <a href="javascript:void(0);" class="brand-logo" style="color:#000;">Atorvia App</a>
              <ul class="right hide-on-med-and-down">
                  <!--<li><a href="javascript:void(0);"><i class="zmdi zmdi-assignment-alert"></i></a></li>
                  <li><a class="dropdown-button" href="javascript:void(0);" data-activates="dropdown1"><i class="zmdi zmdi-email"></i><span class="noti red">5</span></a></li>-->
                  <!-- Dropdown Trigger -->
                  <li class="admin-ac"><!--<a href="javascript:void(0);">{{user.profile.firstName}} <i class="zmdi zmdi-account"></i></a>--></li>
              </ul>
          </section>
      </nav>
  </section>
  <!--<section class="container"><a href="javascript:void(0);" data-activates="nav-mobile" class="button-collapse top-nav full hide-on-large-only"><i class="material-icons">menu</i></a></section>-->
  <navbar></navbar>
</header>
