<div class="row" >
    <h2 class="header red-text text-lighten-1" color="primary">
    Change Password
    </h2>


<div class="row">
  <form class="col s12" [formGroup]="passwordForm" #f="ngForm" (ngSubmit)="changePassword()">

    <div class="input-field col s12">
      <label for="oldpassword">Old Password</label>
      <input type="password" id="oldpassword" class="form-control" formControlName="oldpassword">
      <div class='form-text error' *ngIf="passwordForm.controls.oldpassword.touched">
        <div *ngIf="passwordForm.controls.oldpassword.hasError('required')">Password is required.</div>
        <div *ngIf="passwordForm.controls.oldpassword.hasError('minlength')">Password isn't long enough.</div>
      </div>
    </div>

    <div class="input-field col s12">
      <label for="newPassword">New Password</label>
      <input type="password" id="newPassword" class="form-control" formControlName="newPassword">
      <div class='form-text error' *ngIf="passwordForm.controls.newPassword.touched">
        <div *ngIf="passwordForm.controls.newPassword.hasError('required')">Password is required.</div>
        <div *ngIf="passwordForm.controls.newPassword.hasError('minlength')">Password isn't long enough.</div>
        <div *ngIf="passwordForm.controls.newPassword.hasError('maxlength')">Maximum 30 characters allowed.</div>
        <div *ngIf="passwordForm.controls.newPassword.hasError('validatePassword')">At least 1 Uppercase Alphabet, 1 Lowercase Alphabet, 1 Number and 1 Special Character required.</div>
      </div>
    </div>

    <div class="input-field col s12">
      <label for="confirmPassword">Confirm Password</label>
      <input type="password" id="confirmPassword" class="form-control" formControlName="confirmPassword">
      <div class='form-text error' *ngIf="passwordForm.controls.confirmPassword.touched">
        <div *ngIf="passwordForm.hasError('mismatchedPasswords')">Passwords do not match.</div>
        <div *ngIf="passwordForm.controls.confirmPassword.hasError('required')">Password is required.</div>
        <div *ngIf="passwordForm.controls.confirmPassword.hasError('minlength')">Password isn't long enough.</div>
        <div *ngIf="passwordForm.controls.confirmPassword.hasError('maxlength')">Maximum 30 characters allowed.</div>
        <div *ngIf="passwordForm.controls.confirmPassword.hasError('validatePassword')">At least 1 Uppercase Alphabet, 1 Lowercase Alphabet, 1 Number and 1 Special Character required.</div>
      </div>
    </div>


<div class="row">
  <div class="col s12">
    <button class="btn waves-effect waves-light blue accent-2" type="submit" name="action" [disabled]="!passwordForm.valid">change password
      <i class="material-icons right">send</i>
    </button>
  </div>
</div>
