<h2 class="header red-text text-lighten-1" color="primary">
    <span>Tours</span>
</h2>

<section class="serach-bg" *ngIf="itemsSize>=0">
    <section class="col s1 closeSearch" *ngIf="!!searchString">
        <a class="" (click)="clearsearch(searchString='')"><i class="material-icons">clear</i></a>
    </section>
    <section class="search col s9">
        <input id="search" type="text" #searchtext class="col s12" placeholder="Search here..." (keyup.enter)="search(searchtext.value)" [(ngModel)]="searchString" />
        <label class="tooltipped" for="search" (click)="search(searchtext.value)" data-position="top" data-delay="0" data-tooltip="Click to Search"><i class="material-icons">search</i></label>
    </section>
</section>

<div class="loading">
    Loading...
</div>

<section *ngIf="itemsSize==0">
    No tours found to be displayed here.
</section>

<pagination-controls id="tours" *ngIf="itemsSize>0" class="pagination" (pageChange)="onPageChanged($event)"></pagination-controls>

<section class="col s12 wht-bg mar-tp5 mar-bt5 bt-shadow"
*ngFor="let item of items"
[attr.data-item-id]="item._id"
[ngClass]="{'red accent-1': item.deleted, 'red lighten-4': item.active === false}"
[hidden]="item.rejected">
    <section class="pateint-list">
        <section class="col s8 mar-tp10">
            <h2 class="pateint-name"><a [routerLink]="['/tours/view', item._id]">{{item.name}}</a></h2>
            <div class="row">
              <div class="col s4">
                <a [routerLink]="['/tours/view', item._id]">
                  <span *ngIf="!item.images?.length"><img class="img-class" src="images/random.png" /></span>
                  <span *ngIf="item.images?.length > 0 && item.featuredImage?.url"><img class="img-class" src="uploads/images/{{item.featuredImage?.id}}-180-120.jpg" style="width: 100%" /></span>
                  <span *ngIf="item.images?.length > 0 && !item.featuredImage?.url"><img class="img-class" src="uploads/images/{{item.images[0]?.id}}-180-120.jpg" style="width: 100%" /></span>
                </a>
              </div>
              <div class="col s8">
                <div class="row">
                  <div class="col s6">
                    Departure: {{item.departure}}
                  </div>
                  <div class="col s6">
                    Destination: {{item.destination}}
                  </div>
                  <div class="col s6">
                    Tour Pace: {{item.tourPace}}
                  </div>
                  <div class="col s6">
                    Tour Type: {{item.tourType}}
                  </div>
                  <div class="col s6">
                    Starts From: ${{item.dateRange[0]?.price[0]?.adult}}
                  </div>
                  <div class="col s6">
                  </div>
                </div>
              </div>
            </div>
        </section>
        <section class="col s4 detail-btn">
            <ul>
                <li *ngIf="item.approved === true && item.active === false"><a href="javascript:void(0);" (click)="activate(item)">Publish</a></li>
                <li *ngIf="item.approved === true && item.active === true"><a href="javascript:void(0);" (click)="deactivate(item)">Unpublish</a></li>
                <li *ngIf="item.approved === false && item.rejected === false"><a href="javascript:void(0);" (click)="approveTour(item)" data-position="top" data-delay="0" data-tooltip="Approve">Approve</a></li>
                <li *ngIf="item.approved === false && item.rejected === false"><a href="javascript:void(0);" (click)="disapproveTour(item)">Disapprove</a></li>
                <!-- <li *ngIf="!item.deleted"><a class="btn-floating waves-effect waves-light red tooltipped" href="javascript:void(0);" (click)="deleteTour(item)" data-position="top" data-delay="0" data-tooltip="Delete Tour"><i class="material-icons">delete</i></a></li> -->
            </ul>
        </section>
    </section>
</section>

<pagination-controls id="tours" *ngIf="itemsSize>0" class="pagination" (pageChange)="onPageChanged($event)"></pagination-controls>
